APP_URL = "http://localhost:3000"
PORT= 3000
NODE_ENV=  "development"
MONGODB_URI="mongodb://localhost:27017/course"
SESSION_SECRET = ''
ACCESS_TOKEN_SECRET=''
REFRESH_TOKEN_SECRET=""
ACCESS_EXPIRE_TIME='15m'
REFRESH_EXPIRE_TIME='1d'
