<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>

        <form action="/users/post/store" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="text" value="<%= (messages.old && messages.old.title) ? messages.old.title : '' %>"
                name="title" placeholder="title">
            <% if ( messages.errors.title) { %>
                <div>
                    <small style="color:red">
                        <%= messages.errors.title.msg %>

                    </small>
                </div>

                <% } %>


                    <input type="text" value="<%= (messages.old && messages.old.content) ? messages.old.content : '' %>"
                        name="content" placeholder="content">
                    <% if ( messages.errors.content) { %>
                        <div>
                            <small style="color:red">
                                <%= messages.errors.content.msg %>
                            </small>
                        </div>

                        <% } %>
                            <button type="submit">add</button>
        </form>
    </div>
</body>

</html>